<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <p>Hey <%= firstName %>, </p>
    <br>
    <p>
      How are you doing? I'm doing well. It's been like <%= numMonthsSinceContact %> months since we last talked. I'm learning to code full-time at Fullstack Academy and enjoying my time. 
    </p>
    <p>
      I've been blogging about my experiences at Fullstack on my blog. 
      Check out my new posts here:
    <% for(var i = 0; i < latestPosts.length; i++) {%>
      <a><a href=<%= latestPosts[i].href %>> <%= latestPosts[i].title %></a></li>

    <% } %> 
    </p>
    <p>
      Talk soon, 
      <br><br>
      Sunil
    </p>
  </body>
</html>

var client = tumblr.createClient({
  consumer_key: 'lh8lNR7PsBA1oxANy7N0RvRGAlyxTNRB0KQTGTG2NP0MVvs0Qk',
  consumer_secret: 'L4hnIrVSxww1fAO86A0qgNeLY8w0iYCbQYTreQV15MNkm1TIsD',
  token: 'IwgvocxLMsN8Thx40Y4BpG5tggQDWyLWnhYEfSRlEooFwJ7cK9',
  token_secret: 'h2GN6yofCW6skD66sDzRvBXlNzAj3l3parxcjzvKloEyHRAy5w'
});